<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Exercise Tracker</title>
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.7.5/beautify.min.js"></script>
    <script defer src="./handleForms.js"></script>
  </head>
  <body>
    <div class="container">
      <h1 class="title">Exercise Tracker</h1>
      <div class="description">This is the fourth project in Apis and Microservices section from updated <a href="https://learn.freecodecamp.org/apis-and-microservices/apis-and-microservices-projects/exercise-tracker">freeCodeCamp</a> curriculum.</div>

      <p class="user-story"><i>There are no specific user stories, except functional similarity with <a href="https://fuschia-custard.glitch.me/">provided example</a>.</i></p>

      <form id="create-user">
        <h3>Create a new user</h3>
        <div class="request-description">POST /users</div>
        <div>
          <label>Name</label>
          <input type="text" name="name">
        </div>
        <button>Submit</button>
      </form>
      <xmp class="response"></xmp>

      <form id="add-exercise">
        <h3>Add an exercise</h3>
        <div class="request-description">POST /users/&lsaquo;userId&rsaquo;/exercises</div>
        <div>
          <label>UserId</label>
          <input type="text" name="userId">
        </div>

        <div>
          <label>Description</label>
          <input type="text" name="description">
        </div>

        <div>
          <label>Duration <span class="deemphasize">(mins.)</span></label>
          <input type="text" name="duration">
        </div>

        <div>
          <label>Date <span class="deemphasize">(yyyy-mm-dd)</span></label>
          <input type="text" name="date">
        </div>
        <button>Submit</button>
      </form>
      <xmp class="response"></xmp>

      <form id="get-exercises">
        <h3>Get exercises</h3>
        <div class="request-description">GET /users/&lsaquo;userId&rsaquo;/exercises[?limit=&lsaquo;number&rsaquo;[&from=&lsaquo;yyyy-mm-dd&rsaquo;][&to=&lsaquo;yyyy-mm-dd&rsaquo;]]</div>
        <div>
          <label>UserId</label>
          <input type="text" name="userId">
        </div>
        <button>Submit</button>
      </form>
      <xmp class="response"></xmp>

    </div>
  </body>
</html>
